<% include partials/header.ejs %>

<div id="landing">
  <div id="mask">
    <h1>Welcome To The Land Of Delicious</h1>
    <a href="/restaurants">To Our Collection</a>
  </div>
</div>

<% include partials/footer.ejs %>